<!DOCTYPE html>
<html>
    <head>
        <title>Clear Database</title>
    </head>
    <body>
        <h3>All clear!</h3>
        <form action="/" method="get">
            <button type="submit">Homepage</button>
        </form>
    </body>
</html>
