<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title>Recipe Database</title>
    </head>
    <body>
        <form action="/recipes" method="post">
            <label for="name">Add a new recipe to your database!</label>
            <input type="text" name="name" id="name">
            <label for="rating">What would you rate this dish (1-5 stars)?</label>
            <select class="form-control" id="rating" name="rating">
                <option value="5" >&#9734;&#9734;&#9734;&#9734;&#9734;</option>
                <option value="4">&#9734;&#9734;&#9734;&#9734;</option>
                <option value="3">&#9734;&#9734;&#9734;</option>
                <option value="2">&#9734;&#9734;</option>
                <option value="1">&#9734;</option>
            </select>
            <button type='submit' class='btn btn-success'>Add to database!</button>
        </form>

        <ul>
            {% for recipe in recipes %}
                <li>Name: {{ recipe.getName }}</li>
                <li>Rating: {{ recipe.getRating }}</li>
            {% endfor %}
        </ul>

        <form action="/delete_recipe" method="post">
            <button type="submit">Clear entries</button>
        </form>

    </body>
</html>
